/*
	@_IOERROR

	Created by Joss York	
*/
/************************/
/*	
/*	1 - Import Documentation
/*
/************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  font-family: 'proxima-nova' ,sans-serif;
  color: #fff;
  text-decoration: none; }

h1, h2, h3 {
  font-family: 'proxima-nova' ,sans-serif; }

p {
  font-family: 'proxima-nova' ,sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 14px; }

/**

Grid

**/
/************************/
/*	
/*	2 - Main Styling
/*
/************************/
#wrapper {
  width: 100%;
  margin: 0 auto; }

.sectioncontent {
  width: 1000px;
  margin: 0 auto; }

/************************/
/*	
/*	3 - Element Styling
/*
/************************/
/**
	Overlay & Modal
**/
#overlay {
  position: absolute;
  display: none;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  /*dim the background*/ }

#signinmodal {
  width: 600px;
  min-width: 600px;
  height: 300px;
  background: #ffffff;
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  z-index: 9999; }
  #signinmodal form {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
    #signinmodal form input {
      width: 500px;
      height: 40px;
      font-size: 14px;
      color: #545b5c;
      outline: none;
      border: none;
      border-bottom: 2px solid #7f7f7f; }
    #signinmodal form #btn {
      font-weight: 200;
      color: #ffffff;
      opacity: 1;
      margin-top: 40px;
      border-bottom: 4px solid #007c3f;
      background-color: #00a453;
      cursor: pointer;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s; }
    #signinmodal form #btn:hover {
      background: #007c3f; }
  #signinmodal a {
    font-size: 14px;
    font-weight: 300;
    color: #545b5c;
    opacity: 0.6;
    border-bottom: 2px dotted #545b5c;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s; }
  #signinmodal a:hover {
    opacity: 1; }

/**
	Header & Top Nav
**/
#topnav {
  width: 100%;
  min-width: 1000px;
  height: 50px;
  background-color: #4e4e4e; }
  #topnav nav {
    width: 1000px;
    margin: 0 auto; }
    #topnav nav li {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 15px;
      padding: 0 15px;
      padding-top: 17px;
      height: 33px;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s; }
      #topnav nav li a {
        opacity: 0.6;
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s; }
    #topnav nav li:hover {
      background: rgba(0, 0, 0, 0.2); }
      #topnav nav li:hover a {
        opacity: 1; }
    #topnav nav #games {
      float: left; }
      #topnav nav #games #active {
        background: #00a453;
        border-bottom: 4px solid #007c3f; }
        #topnav nav #games #active a {
          opacity: 1; }
      #topnav nav #games #active:hover {
        background: #007c3f; }
    #topnav nav #signin {
      float: right; }

#hero {
  height: 500px;
  min-height: 500px;
  width: 100%;
  min-width: 1000px;
  margin-bottom: 125px;
  background: url("../images/headerbgb.jpg") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #hero #mainnav {
    width: 800px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 125px; }
    #hero #mainnav li {
      display: inline;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 18px;
      margin: 0 20px; }
      #hero #mainnav li #logo {
        margin-bottom: -33px; }
      #hero #mainnav li a {
        opacity: 0.9;
        border-bottom: 2px solid transparent;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s; }
      #hero #mainnav li a:hover {
        opacity: 1;
        border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
  #hero .sectioncontent {
    width: 900px; }
    #hero .sectioncontent h1 {
      font-size: 22px;
      font-weight: 200;
      line-height: 32px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px black;
      padding: 10px 20px;
      background: rgba(0, 0, 0, 0.4); }
      #hero .sectioncontent h1 span {
        font-weight: 400; }
  #hero #statstab {
    height: 100px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: -140px;
    top: 50%;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    #hero #statstab h1 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      padding-top: 15px;
      padding-bottom: 10px;
      color: #aeb1b1; }
    #hero #statstab h2 {
      font-size: 22px;
      font-weight: 400;
      color: #41494a;
      margin-bottom: 5px; }
    #hero #statstab h3 {
      font-size: 14px;
      font-weight: 300;
      color: #41494a; }
    #hero #statstab .col3 {
      float: left;
      width: 160px;
      padding: 0 20px; }

/**
	Purchase & Play Options
**/
#playgame {
  width: 800px;
  height: 100px;
  margin: 0 auto; }
  #playgame .col3 {
    float: left;
    width: 30%;
    text-align: center;
    padding: 0% 1.66%; }
    #playgame .col3 a {
      opacity: 0.5;
      font-weight: 400;
      font-size: 16px;
      color: #41494a;
      padding-bottom: 5px;
      border-bottom: 2px dotted #41494a;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s; }
    #playgame .col3 a:hover {
      opacity: 1; }
    #playgame .col3 #btn {
      display: inline-block;
      width: 200px;
      font-weight: 300;
      padding: 15px 0px;
      margin-top: -15px;
      color: #ffffff;
      opacity: 1;
      border-bottom: 4px solid #007c3f;
      background: #00a453;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s; }
    #playgame .col3 #btn:hover {
      background: #007c3f; }

/**
	Game Intergration
**/
#gamebio, #socialbio {
  width: 1000px;
  height: 290px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  #gamebio .col3, #socialbio .col3 {
    float: left;
    width: 30%;
    text-align: left; }
  #gamebio .col3:first-child, #socialbio .col3:first-child {
    padding-right: 5%; }
  #gamebio .col3:last-child, #socialbio .col3:last-child {
    padding-left: 5%; }
  #gamebio h1, #socialbio h1 {
    color: #41494a;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px; }
    #gamebio h1 span, #socialbio h1 span {
      font-weight: 600; }
  #gamebio h2, #socialbio h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
    opacity: 0.6; }
  #gamebio p, #socialbio p {
    color: #41494a;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
    text-align: justify; }

/**
	Social Intergration
**/
#socialbio {
  height: 340px;
  border-bottom: none; }
  #socialbio #tumblr .post {
    opacity: 0.7;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s; }
    #socialbio #tumblr .post h1 {
      color: #00a453;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px; }
    #socialbio #tumblr .post h2 {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 0px;
      opacity: 0.5; }
  #socialbio #tumblr .post:hover {
    opacity: 1; }
  #socialbio #twitter .post {
    opacity: 0.7;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s; }
    #socialbio #twitter .post h1 {
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 10px; }
    #socialbio #twitter .post h2 {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 0px;
      opacity: 0.5; }
    #socialbio #twitter .post a {
      color: #00a453; }
  #socialbio #twitter .post:hover {
    opacity: 1; }

/**
	Register
**/
#register {
  height: 500px;
  width: 1000px;
  margin: 0 auto; }
  #register .sectioncontent {
    text-align: center; }
    #register .sectioncontent h1 {
      color: #41494a;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 20px; }
    #register .sectioncontent h2 {
      color: #41494a;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 30px; }
    #register .sectioncontent form {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px; }
      #register .sectioncontent form input {
        width: 500px;
        height: 40px;
        font-size: 14px;
        color: #545b5c;
        outline: none;
        border: none;
        border-bottom: 2px solid #7f7f7f; }
      #register .sectioncontent form #btn {
        font-weight: 200;
        color: #ffffff;
        opacity: 1;
        margin-top: 40px;
        border-bottom: 4px solid #007c3f;
        background-color: #00a453;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s; }
      #register .sectioncontent form #btn:hover {
        background: #007c3f; }

/**
	Game Information
**/
#gameinfo {
  margin: 0 auto; }
  #gameinfo .sectioncontent {
    width: 853px; }
    #gameinfo .sectioncontent #video {
      text-align: center;
      margin-bottom: 50px; }
    #gameinfo .sectioncontent h1 {
      color: #41494a;
      font-size: 18px;
      font-weight: 300;
      margin-top: 25px;
      margin-bottom: 15px; }
    #gameinfo .sectioncontent p {
      color: #41494a;
      font-size: 14px;
      line-height: 24px;
      opacity: 0.7;
      text-align: justify;
      margin-bottom: 25px; }

/**
	Footer
**/
footer {
  height: 80px;
  min-height: 80px;
  width: 100%;
  min-width: 1000px;
  background: url("../images/footerbg.png") repeat; }
  footer .sectioncontent {
    width: 1000px;
    margin: 0 auto;
    padding-top: 35px; }
  footer .col2 {
    float: left;
    width: 50%; }
  footer .col2:last-child {
    text-align: right; }
  footer h1 {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff; }
  footer nav li {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s; }
    footer nav li a {
      opacity: 0.4;
      transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s; }
  footer nav li:hover a {
    opacity: 1; }
